In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import scipy.stats
%matplotlib inline

In [97]:
flags = pd.read_csv('data/flags.csv')
total_flags = flags.shape[0]
flags.shape

(194, 30)

In [21]:
flags.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [19]:
flags.sort_values("population", ascending=False).head(3)

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
37,China,5,1,9561,1008,7,6,0,0,2,...,0,0,5,0,0,0,0,0,red,red
81,India,5,1,3268,684,6,4,0,3,4,...,0,0,0,0,0,1,0,0,orange,green
184,USSR,5,1,22402,274,5,6,0,0,2,...,0,0,1,0,0,1,0,0,red,red

In [18]:
highest_population_country = flags.sort_values("population", ascending=False).iloc[0]["name"]
highest_population_country

'China'

In [16]:
most_bars_country = flags.sort_values("bars", ascending=False).iloc[0]["name"]
most_bars_country

'St-Vincent'

In [26]:
flags.columns

Index(['name', 'landmass', 'zone', 'area', 'population', 'language',
       'religion', 'bars', 'stripes', 'colors', 'red', 'green', 'blue', 'gold',
       'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires',
       'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate',
       'text', 'topleft', 'botright'],
      dtype='object')

In [45]:
orange_probability = flags[flags["orange"] == 1].shape[0] / flags.shape[0]
orange_probability

0.13402061855670103

In [50]:
stripe_probability = flags[flags["stripes"] > 1].shape[0] / flags.shape[0]
stripe_probability

0.41237113402061853

probability of getting heads in a row

In [55]:
five_heads = .5 ** 5
ten_heads = 0.5 ** 10
hundred_heads = 0.5 ** 100

What are the odds of picking 3 countries with a red flag?

In [65]:
# how many red countries are there?
red_countries = flags[flags["red"]==1].shape[0]
print(f'total red flag countries: {red_countries}')
three_red = 153/flags.shape[0] * 152/(flags.shape[0]-1) * 151/(flags.shape[0]-2)
print(f'prob of picking three red flags: {three_red}')

total red flag countries: 153
prob of picking three red flags: 0.48848552427754927

Let's say we have a random number generator that generates numbers from 1 to 18000.
- What are the odds of getting a number evenly divisible by 100, with no remainder? (ie 100, 200, 300, etc). 
- What are the odds of getting a number evenly divisible by 70, with no remainder? (ie 70, 140, 210, etc).

In [85]:
start = 1
end = 18000
#random_nums = [random.randint(start,end) for _ in range(end+1)]
random_nums = [i for i in range(start, end+1)]

hundred_prob = len([n for n in random_nums if n % 100 ==0]) / len(random_nums)
seventy_prob = len([n for n in random_nums if n % 70 ==0]) / len(random_nums)

print(hundred_prob, seventy_prob)

0.01 0.014277777777777778

Find the probability of a flag having red or orange as a color. Assign the result to red_or_orange.

In [101]:
red = flags[flags.red ==1].shape[0]
orange = flags[flags.orange ==1].shape[0]
red_and_orange = flags[(flags['orange']==1) & (flags["red"]==1)].shape[0]
print(red, orange, red_and_orange)
red_or_orange = ((red + orange) / total_flags) - (red_and_orange / total_flags) 
red_or_orange

153 26 19

0.8247422680412372

stripes or bars

In [109]:
stripes = flags[flags["stripes"]>=1].shape[0]
bars = flags[flags['bars']>=1].shape[0]
stripes_and_bars = flags[(flags["stripes"]>=1) & (flags['bars']>=1)].shape[0]
stripes_or_bars = (stripes+bars)/total_flags - (stripes_and_bars/total_flags)