importing essential moduels

In [54]:
import numpy as np
import pandas as pd

import csv #imports csv module to read csv files
import urllib.request  # module to read urls

opening a csv file and putting it into a list

In [55]:
file = 'nfl_small.csv' # small file saved in same directory
with open(file, 'r') as f: # using with open closes the file after the with block
    data = list(csv.reader(f)) 
data[:3]

[['Team', 'Losses', 'Wins'],
 ['New England Patriots', '46', '153'],
 ['Indianapolis Colts', '62', '133']]

opening a file from a url and reading it
todo: how to use the csv module to read a downloaded file. seems to a problem with decoding.

In [53]:
# the url to grab the data from
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
raw_data = urllib.request.urlopen(url)

dataset = pd.read_csv(raw_data, header = None)
print(dataset.shape)
dataset.head(5)

(150, 5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [65]:
# and here we make a class 
class Car():
    def __init__(self, color = 'black', make = 'honda', model = 'accord'):
        self.color = color
        self.make = make
        self.model = model
    def describe(self):
        # functions can have many inputs, so its good practice to assign default values
        # that makes it easier to call a function without remembering all the inputs to passs
        print('the car is: ', self.color, self.make, self.model)

# now we make a new object using the default values        
honda = Car()
honda.describe() # calls a function inside the object

toyota = Car(make='toyota') 
toyota.describe()

the car is:  black honda accord
the car is:  black toyota accord

## lists

In [72]:
animals = ["Dog", "Tiger", "SuperLion", "Cow", "Panda"]
viciousness = [1, 5, 10, 10, 1]

# to quickly loop through a list
for animal in animals:
    print(animal)

# the enumerate function returns the index and the value
# we can use the index to call another corresponding list easily
for i, animal in enumerate(animals):
    print("Animal:", animal, "        | Viciousness:", viciousness[i])

Dog
Tiger
SuperLion
Cow
Panda
Animal: Dog         | Viciousness: 1
Animal: Tiger         | Viciousness: 5
Animal: SuperLion         | Viciousness: 10
Animal: Cow         | Viciousness: 10
Animal: Panda         | Viciousness: 1

In [118]:
animals[-2:] # to start from the end, use a negative integer

['Cow', 'Panda']

## list and set comprehensions

In [76]:
[i for i in range(5)]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [78]:
l = [i for i in range(5)] * 2
l

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [81]:
{i for i in l}

{0, 1, 2, 3, 4}

# Numpy

In [87]:
import numpy as np
a = np.array([[i for i in range(5)],[i for i in range(5,10)], [i for i in range(10,15)]])
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

`nan` = not a number

`na` = not available

In [96]:
b = 1
a[b,:]

array([5, 6, 7, 8, 9])

# Pandas
most popular library for working with tabular data in Python.

key features:

- builds on numpy
- can hold different datatypes
- represents missing objects with `NaN`
- supports labels for rows and columns

In [98]:
import pandas as pd
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [124]:
df = pd.DataFrame(np.random.randn(6,4), columns = list('ABCD'))
df.head(2)

          A         B         C         D
0  1.967938 -0.077807 -0.833516 -1.254954
1 -0.504236 -1.049891 -0.225742  1.098855